<h2>Top formats</h2>
<h3>By mime type</h3>
<table class="table table-striped">
  <tbody>
    <% DroFile.group(:mimetype).order('count_all desc').limit(10).count.each do |mimetype, count| %>
      <tr>
        <td><%= mimetype || 'unknown' %></td>
        <td><%= number_with_delimiter(count) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<h3>By Pronom ID</h3>
<table class="table table-striped">
  <tbody>
    <% DroFile.group(:filetype).order('count_all desc').limit(10).count.each do |filetype, count| %>
      <tr>
        <td><%= filetype || 'unknown' %></td>
        <td><%= number_with_delimiter(count) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
