<turbo-frame id="general_stats">
  <table class="table table-striped">
  <tbody>
    <tr>
      <td>Total Files (approx.)</td>
      <td><%= number_with_delimiter(DroFile.estimated_count) %></td>
    </tr>
  </tr>
  </tbody>
  </table>
</turbo-frame>
